Library pandas,numpy untuk mengolah data.
Library matplotlib,seaborn untuk visualisasi data.
Library stremlit untuk mendokumentasikan hasil dengan web sederhana.  
Library geopandas dan shapely untuk cluter.